<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FuriousCipher.Wasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var menu in menuItems)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@menu.Url" Match="NavLinkMatch.All">
                    <span class="@menu.Icon" aria-hidden="true"></span> @menu.Label
                </NavLink>
            </li>
        }
    </ul>
</div>
